################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SmartMeter.Server.Core/.vs/SmartMeter.Server.Core/FileContentIndex/6e897e2a-5fc4-46db-83e2-a7187897a673.vsidx
