[
{rabbit, [
    {ssl_listeners, [5671]},
    {ssl_options, [
        {cacertfile, "C:/ClientServerUni/SmartMeter.Server.Core/Resources/SSL/ca-cert.pem"},
        {certfile,   "C:/ClientServerUni/SmartMeter.Server.Core/Resources/SSL/server-cert.pem"},
        {keyfile,    "C:/ClientServerUni/SmartMeter.Server.Core/Resources/SSL/server-key.pem"},
        {verify, verify_peer}, % Set to verify_peer if using client validation
        {fail_if_no_peer_cert, false} % Set this based on your client cert setup
    ]}
]}
].
